<div class="columns is-centered mt-2">
  <div class="column is-one-third">
    <h1 class="is-size-2 has-text-weight-bold">New entry</h1>

    <%= render "form", entry: @entry %>

    <br />

    <div><%= link_to "Back to entries", entries_path %></div>
  </div>
</div>
